<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>博客</title>
<meta name="keywords" content="博客" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/front/css/base.css" rel="stylesheet">
<link href="/front/css/index.css" rel="stylesheet">


</head>
<body>

<header>

  <nav>
    <ul>
      <li><a href="/index">网站首页</a></li>
      <#list (catelist)! as cate>
      	<li><a href="/list?page=1&categoryId=${(cate.categoryId)!}&categoryName=${(cate.categoryName)!}">${(cate.categoryName)!}</a></li>
      </#list>
      <li><a href="/message">留言</a></li>
    </ul>
  </nav>
</header>
<article>
  <div class="leftbox">
    <div class="infos">
      <div class="newsview">
        <h2 class="intitle">您现在的位置是：<a href="/index">首页</a>&nbsp;>&nbsp;<a href="/list?page=1&categoryId=${(artinfo.categoryId)!}&categoryName=${(artinfo.categoryName)!}">${(artinfo.categoryName)!}</a></h2>
        <h3 class="news_title">${(artinfo.articleTitle)!}</h3>
        <div class="news_author"><span class="au01"></span><span class="au02">${artinfo.articleTime?string('yyyy-MM-dd hh:mm:ss')}</span></div>
       
        <div class="news_about"></div>
        <div class="news_infos">
			${(artinfo.articleContent)!}
        </div>
      </div>
      <div class="share">分享：</div>
    </div>
 

  </div>
  <div class="rightbox">
    <div class="search">
      <form action="/es" method="post" name="searchform" id="searchform">
        <input name="name" class="input_text" placeholder="请输入关键字" style="color: rgb(153, 153, 153);"  type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>

    <div class="paihang">
      <h2 class="ab_title"><a href="/">站长推荐</a></h2>
      <ul>
        <#list (rlist)! as artr>
        <li><b><a href="/listview/${(artr.articleId)!}" target="_blank">${(artr.articleTitle)!}</a></b>
          <p>   <#if artr.articleContent?length gt 50>
          		  ${artr.articleContent?substring(0,50)} ...
          	<#else>
          			${artr.articleContent!}  
            </#if></p>
        </li>
     	</#list>
      </ul>
      <div class="ad"><img src="/front/picture/ad01.jpg"></div>
    </div>

  </div>
</article>
<footer>
  <p>Design by <a href="http://www.XXX.com">个人博客</a> <a href="/">渝ICP备</a></p>
</footer><script src="/js/61a9ee23bfbe484da195456aea8b6f8b.js"></script></body>
</html>
