<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>${(artinfo.categoryName)!}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/front/css/base.css" rel="stylesheet">
<link href="/front/css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
</head>
<body>

<header>
  <nav>
    <ul>
        <li><a href="/index">网站首页</a></li>
      <#list (catelist)! as cate>
      	<li><a href="/list?page=1&categoryId=${(cate.categoryId)!}&categoryName=${(cate.categoryName)!}">${(cate.categoryName)!}</a></li>
      </#list>
      <li><a href="/message">留言</a></li>
    </ul>
  </nav>
</header>
<article>
  <div class="leftbox">
    <div class="newblogs">
      <h2 class="hometitle">${(artinfo.categoryName)!}</h2>
      <ul>
	
		<#list (pageBean.list)! as art>
          <li>
          <h3 class="blogtitle"><a href="/listview/${(art.articleId)!}" target="_blank" >${(art.articleTitle)!}</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/listview/${(art.articleId)!}" title="${(art.articleTitle)!}"><img src="${(art.articleImg)!}" alt="${(art.articleTitle)!}" /></a></span>
            <p>
            <#if art.articleContent?length gt 130>
          		  ${art.articleContent?substring(0,130)} ...
          	<#else>
          			${art.articleContent!}  
            </#if>
            </p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/list?page=1&categoryId=${(art.categoryId)!}&categoryName=${(art.categoryName)!}" title="css3" target="_blank"  class="classname">${(art.categoryName)!}</a></span><span class="dtime f_l">${(art.articleTime?string('yyyy-MM-dd hh:mm:ss'))!}</span><span class="f_r"><a href="/listview/${(art.articleId)!}" class="more">阅读原文>></a></span></div>
        </li>
		</#list>



      </ul>

    
       </div>
                   共有${pageBean.allRow}条记录，当前是第${pageBean.currentPage}/${pageBean.totalPage}页
       
       		<ul class="pager">
       			<#if pageBean.currentPage == 1>
       				第一页 上一页
       			<#else>
       				<li><a href="/list?page=1&categoryId=${(artinfo.categoryId)!}&categoryName=${(artinfo.categoryName)!}">第一页</a></li>	
       				<li><a href="/list?page=${pageBean.currentPage-1}&categoryId=${(artinfo.categoryId)!}&categoryName=${(artinfo.categoryName)!}">上一页</a></li>	
       			</#if>
       				<#if pageBean.currentPage == pageBean.totalPage>
       				下一页 最末页
       			<#else>
       				<li><a href="/list?page=${pageBean.currentPage+1}&categoryId=${(artinfo.categoryId)!}&categoryName=${(artinfo.categoryName)!}">下一页</a></li>	
       				<li><a href="/list?page=${pageBean.totalPage}&categoryId=${(artinfo.categoryId)!}&categoryName=${(artinfo.categoryName)!}">最末页</a></li>	
       			</#if>
       		</ul>
       
  </div>
  <div class="rightbox">
    <div class="search">
       <form action="/es" method="post" name="searchform" id="searchform">
        <input name="name" class="input_text" placeholder="请输入关键字" style="color: rgb(153, 153, 153);"  type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">站长推荐</a></h2>
      <ul>
       	<#list (rlist)! as artr>
        <li><b><a href="/listview/${(artr.articleId)!}" target="_blank">${(artr.articleTitle)!}</a></b>
          <p>   <#if artr.articleContent?length gt 50>
          		  ${artr.articleContent?substring(0,50)} ...
          	<#else>
          			${artr.articleContent!}  
            </#if></p>
        </li>
     	</#list>
    
      </ul>
      <div class="ad"><img src="/front/picture/ad300x100.jpg"></div>
    </div>

  
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>


